<!DOCTYPE html>
<html>
<head>
  <title>Jobmarking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<%= yield %>



<%= javascript_include_tag "application" %>
</body>
</html>
